/* Einbetten von Google Fonts über die @font-face Funktion */
@font-face {
   font-family:'Nunito';
   font-style: normal;
   src: local('Nunito'), url(fonts/Nunito-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family:'Nunito-Italic';
    font-style: italic;
    src: local('Nunito-Italic'), url(fonts/Nunito-Italic-VariableFont_wght.ttf) format(truetype);
}

/* Styling-Block */
html {
    font-family: 'Nunito';
    background-color: #393d47;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    color: #948359;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p, li {
    color: #a9b5d4;
    font-size: 16px;
}

img.main-logo {
    width: 120px;
    background-color: #A9B5D4;
    border-radius: 60px;
    float: left;
    margin-right: 50px;
}

div {
    margin: 30px 25px;
}

.heading {
    height: 180px;
}

.blog p {
    background-color: #434854;
    border: #948359 3px solid;
    border-radius: 15px;
    padding: 10px;
}

.change-user {
    margin: 20px 30px;
    padding: 15px;
    background: #434854;
    color: #948359;
    font-size: 20px;
    font-family: 'Nunito';
    border-radius: 10px;
}

.change-user:hover {
    background: #948359;
    color: #434854;
}